body, main {
  font-family: 'Noto Sans',Roboto,'맑은 고딕','Malgun Gothic','돋움',dotum,"open sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.navbar__logo {
  position: fixed;
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar__contents {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}
.navbar__contents .btns {
  max-width: 110px;
  width: 100px;
}
.navbar__user {
  position: fixed;
  display: flex;
  align-items: center;
  right: 0;
  height: 100%;
}
.burger__menu {
  display: none;
}

.v-btn.v-size--default {
  font-size: 1.1rem !important;
  font-weight: bold;
}

div.v-input__control {
  display: none;
}


@media screen and (max-width: 980px) {
  div.menus {
    display: none;
  }

  div.col-2 {
    display: none;
  }

  .burger__menu {
    display: inline;
  }

  div.v-input__control {
    display: inline;
  }

  div.navbar__user {
    display: none;
  }
}